<h2>Edit <%= @food.name %></h2>

<form action="/foods/<%= @food.id %>" method="POST">

<label for="food_name">Name:</label>
  <input id="food_name" <input type="text" name="food[name]" value="<%= @food.name %>"><br>

<label for="food_course">Course:</label>
  <input id="food_course" <input type="text" name="food[course]" value="<%= @food.course %>"><br>

<label for="food_style">Style:</label>
  <input id="food_style" <input type="text" name="food[style]" value="<%= @food.style %>"><br>

<label for="allergens">Allergens:</label>
  <input id="allergens" name="food[allergens]" value="<%= @food.allergens %>"><br>

<label for="food_price">Price:</label>
  <input id="food_price" <input type="number" step="any" name="food[price]" min=1 max=50 value="<%= @food.price %>"><br>

<input type="hidden" name="_method" value="PATCH">
<input type="submit" value="Edit Food Item">

</form>