<h2>Table <%= @party.table_number %></h2>
<h4>Number of Guests: <%= @party.number_guests %></h4>
<p><a href="/parties/<%= @party.id %>/edit">Edit Party Information</a>

<form action="/parties/<%= @party.id %>" method='POST'>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Party">
</form>

<h2>Current Order:<h2>
  <% if @party.orders != [] %>
      <ul>
      <% @party.orders.map do |order| %>
      <li> 
        <%= order.food.name %>: <%= order.quantity %>
      </li>
      <% end %>
      </ul>
      <p><a href="/parties/<%= @party.id %>/orders/edit">Edit Order</a></p>
      <p><a href="/parties/<%= @party.id %>/receipt">Print Receipt</a></p>
  <% else %>
      <p><a href="/parties/<%= @party.id %>/orders/new">Create Order</a></p>
  <% end %>

